@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');

nav {
    position: absolute;
    right: 0;
    margin-right: 100px;
}
ul.nav{
    font-family: 'Commissioner', sans-serif;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul.nav li {
    margin-left: 50px;
    display: inline;
    float: none;
    border-bottom: none;
    text-align: right;
  }