@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;700&family=M+PLUS+Rounded+1c:wght@400&display=swap');

header{
    position: relative;
    max-width: 960px;
    height: 250px;
    margin: 0 auto;
}
header h1 img {
    position: absolute;
    top: 100px;
    left:20px;
    width: 50%;
    height: auto;

}
nav {
    position: absolute;
    right: 30px;
    bottom: 30px;
    margin-bottom: 0;
}
ul.nav{
    font-family: 'Commissioner', sans-serif;
    font-weight: 300;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul.nav li {
    margin-left: 50px;
    display: inline;
    float: none;
    border-bottom: none;
    text-align: right;
  }
#mainImg{
    text-align: center;
    margin-bottom: 75px;
}
#mainImg img{
    height: 300px;
    width: 100%;
    max-width: 960px;
    object-fit: none;
}
#motto h1{
    font-family: 'Commissioner', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2em;
}
#motto {
    text-align: center;
    margin-bottom: 100px;
}
#about{
    text-align: center;
}
.fcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fbox{
    margin: 20px;
    text-align: center;
}
#works{
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}
#works h1{
    font-family: 'Commissioner', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2em;
}

.worksimg img{
    height: 280px;
    width: 280px;
}
.fbox p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}